In [20]:
monk_fish_team =[158,157,163,157,145]
monk_fish_team

[158, 157, 163, 157, 145]

In [21]:
monk_fish_team.sort()
monk_fish_team

[145, 157, 157, 158, 163]

In [22]:
monk_fish_team.sort(reverse=True)
monk_fish_team

[163, 158, 157, 157, 145]

In [23]:
tank_data = [("Ⅵ号戦車",38,80,75),("LT-38",42,50,37),
             ("八九式中戦車",20,17,57),("Ⅲ号突撃砲",40,50,75),
            ("M3中戦車",39,51,75)]
tank_data

[('Ⅵ号戦車', 38, 80, 75),
 ('LT-38', 42, 50, 37),
 ('八九式中戦車', 20, 17, 57),
 ('Ⅲ号突撃砲', 40, 50, 75),
 ('M3中戦車', 39, 51, 75)]

In [24]:
def evaluate_tankdata(tup):
    return tup[1]+tup[2]+tup[3]

In [25]:
evaluate_tankdata(tank_data[0])

193

In [26]:
evaluate_tankdata(tank_data[4])

165

In [27]:
tank_data.sort(key=evaluate_tankdata,reverse=True)
tank_data

[('Ⅵ号戦車', 38, 80, 75),
 ('Ⅲ号突撃砲', 40, 50, 75),
 ('M3中戦車', 39, 51, 75),
 ('LT-38', 42, 50, 37),
 ('八九式中戦車', 20, 17, 57)]

In [28]:
a = 1
b = 2
b,a = a,b
print(a,b)

2 1

In [29]:
print(b,a)

1 2

In [30]:
a = [1,2,3,4,5]
a

[1, 2, 3, 4, 5]

In [31]:
a[1:4]

[2, 3, 4]

In [32]:
a[2:100]

[3, 4, 5]

In [33]:
a[::2]

[1, 3, 5]

In [36]:
a = [1,2,3,4,5]
a

[1, 2, 3, 4, 5]

In [37]:
a[2:4] = ['Tree',"Four","Five"]
a

[1, 2, 'Tree', 'Four', 'Five', 5]

In [38]:
a = [1,2,3,4,5]

In [41]:
del a[2:]
a

[]

In [43]:
rssitem = {"title":"Pythonの勉強前","link":"http://host.to/blog/entry","dc:date":"2016-05-16T13:24:04Z"}
rssitem.update({"title":"Pythonを勉強中","dc:creator":"someone"})
rssitem.keys()

dict_keys(['title', 'link', 'dc:date', 'dc:creator'])

In [44]:
rssitem

{'title': 'Pythonを勉強中',
 'link': 'http://host.to/blog/entry',
 'dc:date': '2016-05-16T13:24:04Z',
 'dc:creator': 'someone'}